/* ------------------------- *\
        RESPONSIBLE
\* ------------------------- */
/*-----------
    computer-min
---------- */
@media screen and (max-width: 1200px) {
    #wrapper{
        width: 100%;
    }
}
/*-----------
    tablet
---------- */
@media screen and (max-width: 992px) {
    #wrapper{
        width: 100%;
    }
}
/*-----------
    mobile
---------- */
@media only screen and (min-width: 0px) and (max-width : 480px) {
    #wrapper{
        width: 100%;
    }
}
